
/*                                                                          Main Menu Body */


@font-face {
  font-family: mtavruli;
  src: url("../Font/bpg_extrasquare_mtavruli_2009.ttf");
}
body {
  font-family: mtavruli;
margin: auto;
padding: auto;
}
:root {
  --background: #f6f3e0;
  --main-header-text-color: #3e515a;
  --redcolor: #a80532;
  --whitecolor: #ffffff;
  --yellowcolor: #dcc26a;
}
.menu {
  display: flex;
  padding: 21px 60px 0px 60px;
  background-color: var(--background);
  justify-content: space-between;
  align-items: center;
    margin: 0 auto;
  box-sizing: border-box;
}

.menu-list {
  display: flex;
  align-items: center;
  list-style: none;
  white-space: nowrap;
  margin:  0;
  padding-inline-start: 0;
}


.menu-list a:hover {
  color: var(--redcolor);
}
.menu-list a:active {
  color: var(--redcolor);
}
.menu-list li {
  display: flex;
  margin-left: 40px;
}
.menu-list a {
  font-size: 20px;
  text-align: center;
  display: inline-block;
  color: var(--main-header-text-color);
  text-decoration: none;
}
.menu-list a::before {
  display: inline-block;
  margin-right: 15px;
}
.menu-list a:first-child {
  margin-left: 0px;
}

.main::before {
  content: url("../img/Icon-home.svg");
}
.main:hover::before {
  content: url("../img/metro-home-red.svg");
}
.aboutus::before {
  content: url("../img/icon-aboutus.svg");
}
.aboutus:hover::before {
  content: url("../img/icon-aboutus-red.svg");
}
.al::before {
  content: url("../img/Icon-graduation-cap.svg");
}
.al:hover::before {
  content: url("../img/Icon-graduation-cap-red.svg");
}
.users::before {
  content: url("../img/Icon-users.svg");
}
.users:hover::before {
  content: url("../img/Icon-users-red.svg");
}
.nos::before {
  content: url("../img/Icon-ondemand-video.svg");
}
.nos:hover::before {
  content: url("../img/Icon-ondemand-video-red.svg");
}
.gallery::before {
  content: url("../img/Icon-images.svg");
}
.gallery:hover::before {
  content: url("../img/Icon-images-red.svg");
}
.resources::before {
  content: url("../img/Icon-settings.svg");
}
.resources:hover::before {
  content: url("../img/Icon-settings-red.svg");
}


/* 
                                                                                  LANGUAGES 
*/

.languages {
  display: flex;
}
.languages li {
  display: inline-block;
  border-radius: 30px;
  width: 60px;
  height: 60px;
  padding: 0%;
  background-color: var(--redcolor);
  margin-left: 14px;
}

.languages li a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 0%;
  font-size: 18px;
  color: var(--yellowcolor);
  text-decoration: none;
}
.languages li {
  margin-left: 14px;
  background-color: var(--whitecolor);
  border-color: var(--yellowcolor);
  border-width: 2px;
  border-style: solid;
}
.languages li:active {
  background-color: var(--redcolor);
  color: var(--yellowcolor);
  border-width: 2px;
  border-color: var(--yellowcolor);
}

.languages li:hover {
  background-color: var(--redcolor);
  color: var(--yellowcolor);
  border-width: 2px;
  border-color: var(--yellowcolor);
  transition: 0.7s;
}

/* 
                                                                                  LANGUAGES DONE
                                                                                 Main Menu Body DONE */
*/

/* 
                                                                             RESOURCES PAGE
                                                                            Resources Banner  */


.resources-banner{
  text-align: center;
}
.resources-banner img
{
display: block;
margin: 120px auto 21px;
width: 53px;
height: 53px;
}
.resources-banner h3 {
  color: var(--main-header-text-color);
  font-size: 49px;
  margin-bottom: 21px;
}
.dividing_line {
 font-size: 35px;
 color: var(--redcolor);
 margin: 0px 0px 100px 0px;
}

/*                                                                          Resources banner done */

